#root {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
  font-family: Georgia, sans-serif;
  text-align: center;
}
.main-card{
  margin: auto auto;
}